<!DOCTYPE html>
<html>
    <head>
        
        <!-- Title -->
        <title>Modern | Admin Dashboard Template</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
        <meta name="description" content="Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Steelcoders" />
        
        <!-- Styles -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
        <link href="../static/assets/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet"/>
        <link href="../static/assets/plugins/uniform/css/uniform.default.min.css" rel="stylesheet"/>
        <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css"/>	
        <link href="../static/assets/plugins/waves/waves.min.css" rel="stylesheet" type="text/css"/>	
        <link href="../static/assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>	
        <link href="../static/assets/plugins/weather-icons-master/css/weather-icons.min.css" rel="stylesheet" type="text/css"/>	
        <link href="../static/assets/plugins/metrojs/MetroJs.min.css" rel="stylesheet" type="text/css"/>	
        <link href="../static/assets/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css"/>	
        	
        <!-- Theme Styles -->
        <link href="../static/assets/css/modern.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/css/custom.css" rel="stylesheet" type="text/css"/>
        
        <script src="../static/assets/plugins/3d-bold-navigation/js/modernizr.js"></script>
        
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="page-header-fixed compact-menu page-horizontal-bar">
        <div class="overlay"></div>
    
    
    
        <main class="page-content content-wrap">
            <div class="navbar">
                <div class="navbar-inner container">
                    <div class="sidebar-pusher">
                        <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="logo-box">
                        <a href="index.html" class="logo-text"><span>URHope</span></a>
                    </div><!-- Logo Box -->
                </div>
            </div><!-- Navbar -->
            <div class="page-sidebar sidebar horizontal-bar">
                <div class="page-sidebar-inner">
                    <ul class="menu accordion-menu">
                       
                        <li class="nav-heading"><span>Navigation</span></li>
                            
                        {% if session["role"] == "n" %}
                            
                                <li><a href="index.html"><span class="menu-icon icon-speedometer"></span><p>Home</p></a></li>
                                <li><a href="index.html"><span class="menu-icon icon-speedometer"></span><p>Register Service</p></a></li>
                                <li><a href="index.html"><span class="menu-icon icon-speedometer"></span><p>Request Volunteers</p></a></li>
                                <li><a href="profile.html"><span class="menu-icon icon-user"></span><p>Edit Profile</p></a></li>
                                <li><a href="profile.html"><span class="menu-icon icon-user"></span><p>Logout</p></a></li>
                        {% elif session["role"] == "v" %}
                                <li><a href="index.html"><span class="menu-icon icon-speedometer"></span><p>Home</p></a></li>
                                <li><a href="index.html"><span class="menu-icon icon-speedometer"></span><p>Register Service</p></a></li>
                                <li><a href="index.html"><span class="menu-icon icon-speedometer"></span><p>Request Volunteers</p></a></li>
                                <li><a href="profile.html"><span class="menu-icon icon-user"></span><p>Edit Profile</p></a></li>
                                <li><a href="profile.html"><span class="menu-icon icon-user"></span><p>Logout</p></a></li>
                    
                        {% endif %}        
                    </ul>
                </div><!-- Page Sidebar Inner -->
            </div><!-- Page Sidebar -->
            <div class="page-inner">
                <div id="main-wrapper" class="container">
                    

                    {% block content %}




                    {% endblock %}


                </div><!-- Main Wrapper -->

            </div><!-- Page Inner -->
        </main><!-- Page Content -->
      
        <div class="cd-overlay"></div>
	

        <!-- Javascripts -->
        <script src="../static/assets/plugins/jquery/jquery-2.1.4.min.js"></script>
        <script src="../static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="../static/assets/plugins/pace-master/pace.min.js"></script>
        <script src="../static/assets/plugins/jquery-blockui/jquery.blockui.js"></script>
        <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../static/assets/plugins/switchery/switchery.min.js"></script>
        <script src="../static/assets/plugins/uniform/jquery.uniform.min.js"></script>
        <script src="../static/assets/plugins/classie/classie.js"></script>
        <script src="../static/assets/plugins/waves/waves.min.js"></script>
        <script src="../static/assets/plugins/3d-bold-navigation/js/main.js"></script>
        <script src="../static/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="../static/assets/plugins/jquery-counterup/jquery.counterup.min.js"></script>
        <script src="../static/assets/plugins/toastr/toastr.min.js"></script>
        <script src="../static/assets/plugins/flot/jquery.flot.min.js"></script>
        <script src="../static/assets/plugins/flot/jquery.flot.time.min.js"></script>
        <script src="../static/assets/plugins/flot/jquery.flot.symbol.min.js"></script>
        <script src="../static/assets/plugins/flot/jquery.flot.resize.min.js"></script>
        <script src="../static/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="../static/assets/plugins/curvedlines/curvedLines.js"></script>
        <script src="../static/assets/plugins/metrojs/MetroJs.min.js"></script>
        <script src="../static/assets/js/modern.js"></script>
        
        
    </body>
</html>