<!DOCTYPE html>
<html>
    <head>
        
        <!-- Title -->
        <title>Modern | Login - Sign in</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
        <meta name="description" content="Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Steelcoders" />
        
        <!-- Styles -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
        <link href="../static/assets/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet"/>
        <link href="../static/assets/plugins/uniform/css/uniform.default.min.css" rel="stylesheet"/>
        <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css"/> 
        <link href="../static/assets/plugins/waves/waves.min.css" rel="stylesheet" type="text/css"/>  
        <link href="../static/assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css"/> 
        
        <!-- Theme Styles -->
        <link href="../static/assets/css/modern.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/css/custom.css" rel="stylesheet" type="text/css"/>
        
        <script src="../static/assets/plugins/3d-bold-navigation/js/modernizr.js"></script>
        
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="page-login login-alt">
        <main class="page-content">
            <div class="page-inner">
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-6 center">
                            <div class="login-box panel panel-white">
                                <div class="panel-body">
                                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}  
                                                      {% if (message.startswith("Thanks")) %}
                                                      <div class="alert alert-success alert-dismissible" role="alert">
                                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          {{message}}
                                                      </div>
                                                      {% else %}
                                                      <div class="alert alert-danger alert-dismissible" role="alert">
                                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          {{message}}
                                                      </div>
                                                      {% endif %}

                                                      {% endfor %} {% endif %} {% endwith %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="index.html" class="logo-name text-lg">Modern</a>
                                            <p class="m-t-md">The Modern UI Framework is a premium Web Application Admin Dashboard built on top of Twitter Bootstrap 3.3.4 Framework.<br> It was created to be the most functional, clean and well designed theme for any types of backend applications.We have carefully designed all common elements.</p>

                                        </div>
                                        <div class="col-md-6">
                                            <form action="" method = "POST">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Email" name = "username" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" placeholder="Password" name = "password" required>
                                                </div>
                                                <button type="submit" class="btn btn-success btn-block">Login</button>
                                               
                                                <p class="text-center m-t-xs text-sm">Do not have an account?</p>
                                                <a href="/register" class="btn btn-default btn-block m-t-md">Create an account</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
            </div><!-- Page Inner -->
        </main><!-- Page Content -->
    

        <!-- Javascripts -->
        <script src="../static/assets/plugins/jquery/jquery-2.1.4.min.js"></script>
        <script src="../static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="../static/assets/plugins/pace-master/pace.min.js"></script>
        <script src="../static/assets/plugins/jquery-blockui/jquery.blockui.js"></script>
        <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../static/assets/plugins/switchery/switchery.min.js"></script>
        <script src="../static/assets/plugins/uniform/jquery.uniform.min.js"></script>
        <script src="../static/assets/plugins/classie/classie.js"></script>
        <script src="../static/assets/plugins/waves/waves.min.js"></script>
        <script src="../static/assets/js/modern.min.js"></script>
        
    </body>
</html>